<template>
  <div>
    <div class="main-content">
        <div :style="{ backgroundImage: 'url(' + dataImg[limit].Img + ')',backgroundRepeat: 'no-repeat',backgroundSize: 'cover'}">
        <BreadCrum/>
      </div>
      <b-card class="border-0 shadow-md exe-box">
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>SUSUNAN PENGURUS</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>lKATAN KELUARGA ALUMNI</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>PENDIDlKAN DAN PELATIHAN KEPEMIMPINAN TINGKAT I</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>LEMBAGA ADMINISTRASI NEGARA REPUBLIK INDONESIA</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>( lKA PIM TINGKAT I - LAN)</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>&nbsp;</span></p>
        <br>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>D</span></strong><strong><span style='font-family:"Times New Roman",serif;color:#232327;'>e</span></strong><strong><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>wan P</span></strong><strong><span style='font-family:"Times New Roman",serif;color:#232327;'>e</span></strong><strong><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>rtimbangan</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>1. Menteri Penda</span><span style='font-family:"Times New Roman",serif;color:#232327;'>y</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>aguna</span><span style='font-family:"Times New Roman",serif;color:#232327;'>a</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>n Aparatur Negara d</span><span style='font-family:"Times New Roman",serif;color:#232327;'>a</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>n Reformasi Birokrasi</span><span style='font-family:"Times New Roman",serif;color:#232327;'>;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>2. Kepala Lembaga Administrasi Negara RI;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>3. Kepala Kepolisian Republik Indonesia;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>4. K</span><span style='font-family:"Times New Roman",serif;color:#232327;'>e</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>pal</span><span style='font-family:"Times New Roman",serif;color:#232327;'>a&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Badan Kepegawaian Negara;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>5. Kepala Badan Pengawas Keuangan dan Pembangunan; dan</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>6. Kep</span><span style='font-family:"Times New Roman",serif;color:#232327;'>a</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>l</span><span style='font-family:"Times New Roman",serif;color:#232327;'>a&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Arsip Nasional Republik Indonesia.</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>&nbsp;</span></p>
        <br>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-family:"Times New Roman",serif;color:#3A3A3D;'>D</span></strong><strong><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>ewan Pembina</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>1. Sekre</span><span style='font-family:"Times New Roman",serif;color:#232327;'>ta</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>ris Utama, LANRI;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>2. Deputi Bidang Kajian Kebijakan, LAN RI;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>3. Deputi Bidang Diklat Aparatur, LANRI;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>4. Deput</span><span style='font-family:"Times New Roman",serif;color:#232327;'>i&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Bidang Inovasi Administrasi Negara</span><span style='font-family:"Times New Roman",serif;color:#232327;'>,&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>LAN RI; dan</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>5. Deputi Bidang SDM Aparatur, Kementerian PAN dan RB.</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>&nbsp;</span></p>
              <br>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Ketua Umum</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Dr. Ir</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Bambang Hendroyono</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>&nbsp;</span></p>
              <br>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Waki</span></strong><strong><span style='font-family:"Times New Roman",serif;color:#232327;'>l&nbsp;</span></strong><strong><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Ket</span></strong><strong><span style='font-family:"Times New Roman",serif;color:#232327;'>u</span></strong><strong><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>a</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Dr</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Arm</span><span style='font-family:"Times New Roman",serif;color:#232327;'>i</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>nsyah</span><span style='font-family:"Times New Roman",serif;color:#232327;'>, S</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>.H., M.Si</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>&nbsp;</span></p>
              <br>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>S</span></strong><strong><span style='font-family:"Times New Roman",serif;color:#232327;'>e</span></strong><strong><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>kretaris&nbsp;</span></strong><strong><span style='font-family:"Times New Roman",serif;color:#232327;'>U</span></strong><strong><span style='font-family:"Times New Roman",serif;color:#4F4F54;'>m</span></strong><strong><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>um</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Drs. Yasmon</span><span style='font-family:"Times New Roman",serif;color:#232327;'>,&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>M</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>L</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>S.</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>&nbsp;</span></p>
              <br>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>W</span></strong><strong><span style='font-family:"Times New Roman",serif;color:#232327;'>a</span></strong><strong><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>kil Sekretaris</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Drs. Untung Merdijanto, M.Si.</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-size:17px;font-family:"Times New Roman",serif;color:#6D6C70;'>&nbsp;</span></p>
              <br>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-size:17px;font-family:"Times New Roman",serif;color:#6D6C70;'>B</span></strong><strong><span style='font-size:17px;font-family:"Times New Roman",serif;color:#4F4F54;'>e</span></strong><strong><span style='font-size:17px;font-family:"Times New Roman",serif;color:#0F0E12;'>ndahara</span></strong><strong><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>&nbsp;</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Dra. Woro Titi Haryanti, M.A.</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-size:17px;font-family:"Times New Roman",serif;color:#0F0E12;'>&nbsp;</span></p>
              <br>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-size:17px;font-family:"Times New Roman",serif;color:#0F0E12;'>I. Bidang Humas dan Kerja Sama</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Koordinator :</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Prof</span><span style='font-family:"Times New Roman",serif;color:#3A3A3D;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Dr. Ir. Bambang Subiyanto, M.Agr.</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Anggota :</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>1. Brigjen Pol. Jan De Fretes;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>2. Kombes Pol. Drs</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Tavip Yulianto, S.H., M.H., M.Si.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>3</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Kombespol. Purwadi;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>4. Ir. Djati Wi</span><span style='font-family:"Times New Roman",serif;color:#232327;'>tj</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>aksono Hadi, M.Si.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>5.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#999A9D;'>.</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Dadang Ku</span><span style='font-family:"Times New Roman",serif;color:#232327;'>r</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>nia, Ak., MBA.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>6. Ir. Bamban</span><span style='font-family:"Times New Roman",serif;color:#232327;'>g&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Sudiatmo;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>7. Drs. Syaiful Mubarak;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>8. Dra</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Yuni&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#232327;'>P</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>oerwanti, M.Pd</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>9</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Dr. Ir. Gogor Oko Nurharyoko, M.Sc</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>10</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Drs. Ahmad Jaelani</span><span style='font-family:"Times New Roman",serif;color:#232327;'>,&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>M</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Si</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>11. Pro</span><span style='font-family:"Times New Roman",serif;color:#232327;'>f.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Dr. Ir</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Winarni Dien Monoarfa, M.S.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>12. Sofyan, S.Sos., S.H., M</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>H</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>13. Dr</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>d</span><span style='font-family:"Times New Roman",serif;color:#232327;'>r</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>h. Fredrik Dotulung Rotinsulu;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>14. Yolak Dalimunthe, S.E., M.M.; dan</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>15. Drs</span><span style='font-family:"Times New Roman",serif;color:#232327;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>Nugroho, Bc.IP., M.Si.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0E12;'>&nbsp;</span></p>
              <br>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-family:"Times New Roman",serif;color:black;'>II. Bidang Kajian Kebijakan dan Inovasi</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-family:"Times New Roman",serif;color:black;'>Koordinator :</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:black;'>Prof. Ir. Wimpie Agoeng Noegroho Aspar, MSCE, Ph.D.</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-family:"Times New Roman",serif;color:black;'>Anggota:</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:black;'>1. Prof. Dr. Thomas Jamaludin, M.Sc.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:black;'>2. Dr. Ir. Agus Justianto, M</span><span style='font-family:"Times New Roman",serif;color:#2E2D31;'>.</span><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>Sc.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>3. Dr. Siti Nuramaliati Prijono;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>4. Dr. Ir. Hammam Riza, M.Sc.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>5. Dr. Harry Z. Soeratin, S.E.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>6. Dr. Ir. Putera Parthama;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>7. Dr. Asep Kurnia, S.H., M.M.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>8. Dr. Umar Aris, S.H.</span><span style='font-family:"Times New Roman",serif;color:#2E2D31;'>,&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>M</span><span style='font-family:"Times New Roman",serif;color:#2E2D31;'>.</span><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>M., M</span><span style='font-family:"Times New Roman",serif;color:#2E2D31;'>.</span><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>H</span><span style='font-family:"Times New Roman",serif;color:#2E2D31;'>.</span><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>9. Drs</span><span style='font-family:"Times New Roman",serif;color:#2E2D31;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>Setyanta Nugraha, M.M.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>10. Muhammad Yusuf Ateh, Ak, MBA;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>11. Prof. Dr. Enny Sudarmonowati;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>12. Dra</span><span style='font-family:"Times New Roman",serif;color:#2E2D31;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>Sri Puguh Budi Utami, Bc.lP., M.Si.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>13. Drs. Teguh Widjinarko, MPA;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>14. Dr. P</span><span style='font-family:"Times New Roman",serif;color:#868489;'>.</span><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>M. Marpaung, M.Ed.; dan</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>15. Dr. Salusra Widya, M.A.</span></p>
              <br>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-size:17px;font-family:"Times New Roman",serif;color:#0F0D11;'>III. Bidang Sosial Kemasyarakatan dan Kerohanian</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>Koordinator :</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>Prof. Dr. Nur Syam</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>Anggota :</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>1. Prof. Abdurahman Mas&apos;ud, Ph.D.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>2. Dr. Ir. Puji Winarni, MA.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>3. Dr. Ir. Hilman Nugroho;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>4. Dr. Ir</span><span style='font-family:"Times New Roman",serif;color:#2E2D31;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>Andi Zainal Abidin Dulung, MCM, M</span><span style='font-family:"Times New Roman",serif;color:#2E2D31;'>.</span><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>Sc.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>5. Dr. dr. Fidiansyah, Sp.Kj. MPH.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>6. Ir. Arlinda, MA.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>7. Ir. Sri Widayani, M.M.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>8. Dra. Purwastuti, MBA.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>9. Kombespol. Zainal Arifin Paliwang;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>10. It. I Gede Suratha, MMA.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>11. Dr. Ir. Sri Puryono Karto Soedarmo, MP.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>12. Dr. Ir. Rufii, M</span><span style='font-family:"Times New Roman",serif;color:#2E2D31;'>.</span><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>Sc.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>13. Ir. Razilu, M.Sc.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>14. Drs.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#2E2D31;'>G</span><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>untor Gaffar, M.Si.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>15. Dra. Reri Indriani, Apt., M.Si.; dan</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>16. Ilham Djaya, S.H., M.H., M.Pd.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-size:17px;font-family:"Times New Roman",serif;color:#0F0D11;'>&nbsp;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-size:17px;font-family:"Times New Roman",serif;color:#0F0D11;'>&nbsp;</span></p>
              <br>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-size:17px;font-family:"Times New Roman",serif;color:#0F0D11;'>IV. Bidang Hukum dan Advokasi</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>Koordinator:</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>Untung Tr</span><span style='font-family:"Times New Roman",serif;color:#2E2D31;'>i&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>Basuki, S.H., SPN.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>Anggota:</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>1. Brigjen Pol. Sukma Edi Mulyono;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>2. Dr. Sudirman D. Hurry, S.H., M.Sc.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>3. Dr. M. Adi Toegarisman, S.H., M.H.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>4. Dr. Fadil Zumhana, S.H., M.H.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>5. Agus Riswanto&quot;S.H., M.H.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>6. Dr. Drs Karjono, S.H, M.Hum;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>7. Dr. Drs. Sri Haryoso Suliyanto, M.Si.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>8. Setia Untung Arimuladi, S.H., M.Hum;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>9. Kombespol. Drs. Imron Korry;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>10. Drs</span><span style='font-family:"Times New Roman",serif;color:#2E2D31;'>. T</span><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>eguh Pristiwanto;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>11. Danang Wijayanto, Ak., M.Si.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>12. Ir. Laksmi Dhewanti, M.A.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>13. Tony Tribagus Spontana, S.H., M.Hum.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>14. Drs. Thoriq Triyono, M.Si.; dan</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>15. Bjardianto Pujiono;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0F0D11;'>&nbsp;</span></p>
              <br>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-size:19px;font-family:"Times New Roman",serif;color:black;'>v.&nbsp;</span></strong><strong><span style='font-family:"Times New Roman",serif;color:black;'>Bidang Kelembagaan dan Sumber Daya Manusia</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-family:"Times New Roman",serif;color:black;'>Koordinator :</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:black;'>Dr. Ir. Setiawan Wangsaatmaja</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>,&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>Dip!. SE, M.Eng</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style='font-family:"Times New Roman",serif;color:black;'>Anggota:</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>1. Drs. Hendriyanto Hadi Tjahyono, M</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>.</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>Si.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>2. Dr. Andi Eka Sakya, M.Eng</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>.</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>3. Dr. Makhdum Priyatno, M.A</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>.</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>4. Drs. Dwi Wahyu Atmaji, MPA.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>5. Drs</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>Ekotrio Budh</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>i</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>niar, S.H., M.H.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>6. H. Bambang Sugeng Rukmono, S.H., M.M, M</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>.</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>H</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>7. Nurdin, Ak.</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>,&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>MBA.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>8. Ora. Rini Widyantini, MPA.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>9. Dr</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>Orbita Roswintiarti.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>10</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>Dr. Susy Susilawati</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>,&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>S</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>.</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>H.</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>,&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>M.H.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>11. Dr. Blucer Wellington Rajagukguk</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>,&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>M.Sc</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>.</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>12. Ora. Reni Suzana, MPPM.</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>13. Drs. H</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>M. Arief Irwanto, M.Si.;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>14. Ir</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>Trisasongko Widiyanto, Dip!. HE.; dan</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;text-align:center;'><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>15</span><span style='font-family:"Times New Roman",serif;color:#1F1E21;'>.&nbsp;</span><span style='font-family:"Times New Roman",serif;color:#0B0A0D;'>Dr. Baseng, M.Ed.</span></p>
    </b-card>
      <Footer style="background-image: url('revslider/assets/bg_ft.png');" />
    </div>
  </div>
</template>

<script>
import BlogList from '../../components/Pengumuman/BlogList'
import Footer from '../../components/LandingPage1/Footer'
import { themes } from '../../assets/app/app'
import BreadCrum from '../../components/AlumniTerbaik/BreadCrum'
export default {
  layout: 'Pages',
  components: {
    BlogList,
    Footer,
    BreadCrum
  },
  data(){
    return{
        count:-1,
      limit:0,
      dataImg:[
        {
          Img:"revslider/assets/bg4.png"
        },
        {
          Img:"revslider/assets/bg5.png"
        },
        {
          Img:"revslider/assets/bg2.png"
        },
        {
          Img:"revslider/assets/bg3.png"
        },
      ],
      image: require('../../assets/images/about-us/04.png'),
      links: [{
        title : 'Home' ,
        href : 'landing-page-1'
      }]
    }
  },
  mounted () {
    setTimeout(function () {
      themes.index()
    }, 1000);
    var intd = setInterval(this.coba,4000);
  },
  methods:{
    coba(){
      this.limit = ++this.count;
      if(this.limit == 2){
        this.count=-1;
      } else{
      }
    },
  }
}
</script>
