<template>
  <div class="main-content">
    <div :style="{ backgroundImage: 'url(' + dataImg[limit].Img + ')',backgroundRepeat: 'no-repeat',backgroundSize: 'cover'}">
      <Home />
    </div>
    <Services />
    <Client style="background-image: url('revslider/assets/bg-client.png');background-repeat: no-repeat; background-size: cover" />
    <!-- <About /> -->
    <!-- <HowWeWorks /> -->
    <!-- <HowItWorks /> -->
    
    <!-- <Customer /> -->
    <!-- <Project /> -->
    <Awards />
    <!-- <Blog /> -->
    <Footer style="background-image: url('revslider/assets/bg_ft.png');" />
  </div>
</template>

<script>
import Home from '../../components/LandingPage1/Home'
import About from '../../components/LandingPage1/About'
import HowWeWorks from '../../components/LandingPage1/HowWeWorks'
import HowItWorks from '../../components/LandingPage1/HowItWorks'
import Services from '../../components/LandingPage1/Services'
import Customer from '../../components/LandingPage1/Customer'
import Project from '../../components/LandingPage1/Project'
import Client from '../../components/LandingPage1/Client'
import Awards from '../../components/LandingPage1/Awards'
import Blog from '../../components/LandingPage1/Blog'
import Footer from '../../components/LandingPage1/Footer'
import { themes } from '../../assets/app/app'
export default {
  layout: 'LandingPage1',
  components: {
    Home,
    About,
    HowWeWorks,
    HowItWorks,
    Services,
    Customer,
    Project,
    Client,
    Awards,
    Blog,
    Footer
  },
  data(){
    return{
      count:-1,
      limit:0,
      dataImg:[
        {
          Img:"revslider/assets/bg4.png"
        },
        {
          Img:"revslider/assets/bg5.png"
        },
        {
          Img:"revslider/assets/bg2.png"
        },
        {
          Img:"revslider/assets/bg3.png"
        },
      ]
    }
  },
  mounted () {
    setTimeout(function () {
      themes.index()
    }, 1000)
    var intd = setInterval(this.coba,4000);
  },
  methods:{
    coba(){
      this.limit = ++this.count;
      if(this.limit == 2){
        this.count=-1;
      } else{
      }
    }
  }
}
</script>
<style scoped>
/* div{
  background-color: darkgrey;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {background-color: darkgrey;}
  to {background-color: yellow;}
} */
</style>
