<template>
  <div class="main-content">
      <div :style="{ backgroundImage: 'url(' + dataImg[limit].Img + ')',backgroundRepeat: 'no-repeat',backgroundSize: 'cover'}">
          <BreadCrum/>
      </div>
    <Services />
    <Footer style="background-image: url('revslider/assets/bg_ft.png');" />
  </div>
</template>

<script>
import Footer from '../../components/LandingPage1/Footer'
import { themes } from '../../assets/app/app'
import BreadCrum from '../../components/Proper/BreadCrum'
import Services from '~/components/Proper/Services.vue'
export default {
  layout: 'Pages',
  data(){
      return{
          count:-1,
      limit:0,
      dataImg:[
        {
          Img:"revslider/assets/bg4.png"
        },
        {
          Img:"revslider/assets/bg5.png"
        },
        {
          Img:"revslider/assets/bg2.png"
        },
        {
          Img:"revslider/assets/bg3.png"
        },
      ]
      }
  },
  components: {
    Footer,
    BreadCrum,
    Services
  },
  mounted () {
    setTimeout(function () {
      themes.index()
    }, 1000);
    var intd = setInterval(this.coba,4000);
  },
  methods:{
    coba(){
      this.limit = ++this.count;
      if(this.limit == 2){
        this.count=-1;
      } else{
      }
    }
  }
}
</script>
