<template>
  <div>
    <div class="main-content">
        <div :style="{ backgroundImage: 'url(' + dataImg[limit].Img + ')',backgroundRepeat: 'no-repeat',backgroundSize: 'cover'}">
        <BreadCrum/>
      </div>
      <BlogList />
      <Footer style="background-image: url('revslider/assets/bg_ft.png');" />
    </div>
  </div>
</template>

<script>
import BlogList from '../../components/Pengumuman/BlogList'
import Footer from '../../components/LandingPage1/Footer'
import { themes } from '../../assets/app/app'
import BreadCrum from '../../components/Pengumuman/BreadCrum'
export default {
  layout: 'Pages',
  components: {
    BlogList,
    Footer,
    BreadCrum
  },
  data(){
    return{
        count:-1,
      limit:0,
      dataImg:[
        {
          Img:"revslider/assets/bg4.png"
        },
        {
          Img:"revslider/assets/bg5.png"
        },
        {
          Img:"revslider/assets/bg2.png"
        },
        {
          Img:"revslider/assets/bg3.png"
        },
      ],
      image: require('../../assets/images/about-us/04.png'),
      links: [{
        title : 'LandingPage1' ,
        href : '/landing-page-1'
      }]
    }
  },
  mounted () {
    setTimeout(function () {
      themes.index()
    }, 1000);
    var intd = setInterval(this.coba,4000);
  },
  methods:{
    coba(){
      this.limit = ++this.count;
      if(this.limit == 2){
        this.count=-1;
      } else{
      }
    },
  }
}
</script>
