<template>
  <section class="xamin-custom-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 wow fadeInUp">
          <div class="title-box wow fadeInUp text-center">
            <h2 style="color:white">Pengumuman</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 wow fadeInUp">
          <div class="owl-carousel testimonial-style owl-loaded owl-drag" data-dots="true" data-nav="false" data-autoplay="false" data-loop="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30">
            <div v-for="(list,index) in dataFinal" :key="index" class="item text-center">
              <div class="iq-testimonial">
                <div class="testimonial-info">
                  <img alt="#" class="img-fluid" style="width:100%; height:100%" :src="'data:image/jpeg;base64,' + list.gbr">
                  <div class="testimonial-name">
                    <!-- <h5>{{ list. }}</h5> -->
                    <span class="sub-title">Tanggal Pelaksanaan + {{ list.tglpelaksanaan }}</span>
                  </div>
                </div>
                <p>{{ list.deskripsi.substring(0,150) }}...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'Client',
  data() {
    return {
      dataTampung:[],
      dataFinal:[],
      tampungGambar:[],
       items: [
        {
          name: 'Jack White',
          title: 'CEO',
          description: 'Richard McClintock, a Latin professor at Hampden-Sydney consectetur adip isicing elit, sed dolore magna aliqua hampden. Latin professor at Hampden-Sydney consectetur.',
          src: require('../../assets/images/testimonials/1.jpg')
        },
        {
          name: 'Walhan Bobe',
          title: 'Business Advisor',
          description: '"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium incididunt ut labore et dolore Sed ut perspiciatis error. Perspiciatis unde omnis iste."',
          src: require('../../assets/images/testimonials/2.jpg')
        },
        {
          name: 'Mark McManus',
          title: 'COO',
          description: '“Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.” ',
          src: require('../../assets/images/testimonials/3.jpg')
        }
      ]
    }
  },
  created(){
    this.Pengumuman();
  },
  methods:{
    async Pengumuman(){
      this.dataTampung = await this.$store.dispatch("getPengumuman")
      for(var i=0;i<this.dataTampung.data.length;i++){
        if(this.dataTampung.data[i].gambar != null){
          this.tampungGambar = await this.$store.dispatch("getGambar", this.dataTampung.data[i].gambar);
          this.dataFinal.push({id:this.dataTampung.data[i].id, gbr:this.tampungGambar, created:this.dataTampung.data[i].created, creator: this.dataTampung.data[i].creator, deskripsi:this.dataTampung.data[i].deskripsi,judul:this.dataTampung.data[i].judul,tglpelaksanaan:this.dataTampung.data[i].tglpelaksanaan,updateOn:this.dataTampung.data[i].updateOn})
        }
      }
    }
  }
}
</script>
