<template>
  <rs-module-wrap id="rev_slider_1_1_wrapper" data-alias="xamin" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
    <rs-module id="rev_slider_1_1" class=" rs-ov-hidden" style="display:none;" data-version="6.1.0">
      <rs-slides>
        <rs-slide data-key="rs-6" data-title="Slide" data-anim="ei:d,d,d,d,d,d,d,d,d;eo:d,d,d,d,d,d,d,d,d;s:1000ms,d,d,d,d,d,d,d,d;r:0,0,0,0,0,0,0,0,0;t:fade,grayscale,blurlight,blurstrong,fade,crossfade,fadethroughlight,fadethroughdark,fadethroughtransparent;sl:d,d,d,d,d,d,d,d,d;" data-firstanim="t:fade;sl:12;">
          <!-- <img
            src="revslider/assets/dummy.png"
            alt="images"
            title="01"
            width="1600"
            height="758"
            data-lazyload="revslider/assets/bg.jpg"
            data-parallax="2"
            class="rev-slidebg"
            data-no-retina
          > -->
          <img
            src="revslider/assets/dummy.png"
            alt="images"
            title="01"
            width="1600"
            height="758"
            data-lazyload="revslider/assets/home.png"
            data-parallax="2"
            class="rev-slidebg"
            data-no-retina
          >
          <!--
                  -->
          <h2
            id="slider-4-slide-6-layer-1"
            class="rs-layer"
            data-type="text"
            data-color="#ffffff"
            data-rsp_ch="on"
            data-xy="x:l,l,l,c;xo:95px,20px,37px,0;yo:221px,141px,40px,46px;"
            data-text="s:48,48,50,42;l:65,65,70,55;fw:700;a:inherit,inherit,inherit,center;"
            data-frame_0="y:-50;"
            data-frame_1="st:600;sp:1000;sR:600;"
            data-frame_999="o:0;tp:600;st:w;sR:7400;"
            style="z-index:9;font-family:Lato;text-transform:capitalize;"
          >
            Sinergi Alumni LAN<br> untuk Negeri
          </h2>
          <!--
                  -->
          <!-- <p
            id="slider-4-slide-6-layer-3"
            class="rs-layer"
            data-type="text"
            data-color="#525f81"
            data-rsp_ch="on"
            data-xy="x:l,l,l,c;xo:95px,15px,40px,0;y:m;yo:94px,15px,-180px,-102px;"
            data-text="s:16,16,18,20;l:30;a:inherit,inherit,inherit,center;"
            data-frame_0="y:-50;"
            data-frame_1="st:900;sp:1000;sR:900;"
            data-frame_999="o:0;tp:600;st:w;sR:7100;"
            style="z-index:10;font-family:Karla;"
          >
            Sinergi Alumni LAN
            <br> distracted by the readable content .
          </p> -->
          <!--
                  -->
                  <!-- <a
id="slider-4-slide-6-layer-4"
class="rs-layer button rev-btn"
href="#"
target="_self"
rel="nofollow"
data-type="button"
data-xy="xo:95px,15px,40px,60px;y:m;yo:184px,95px,-90px,0;"
data-text="s:16,18,20,22;l:24;a:inherit,inherit,inherit,center;"
data-wrpcls="blue-btn"
data-padding="t:15;r:30;b:15;l:30;"
data-border="bor:90px,90px,90px,90px;"
data-frame_0="y:-50;"
data-frame_1="st:1350;sp:500;sR:1350;"
data-frame_999="o:0;tp:600;st:w;sR:7150;"
data-frame_hover="skX:0px;skY:0px;c:#fff;bgc:#313e5b;boc:#000;bor:90px,90px,90px,90px;bos:solid;oX:50;oY:50;sp:0;"
style="z-index:12;background-color:#437eeb;font-family:Karla;cursor:pointer;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"
>About Us
        </a> -->
        <rs-layer
            id="slider-4-slide-6-layer-11"
            data-type="image"
            data-rsp_ch="on"
            data-xy="xo:865px,646px,230px,110px;yo:123px,47px,333px,333px;"
            data-text="w:normal;s:20,14,10,6;l:0,18,13,8;"
            data-dim="w:494px,361px,338px,234px;h:194px,161px,138px,34px;"
            data-frame_0="y:top;"
            data-frame_1="st:1610;sp:1000;sR:1610;"
            data-frame_999="o:0;st:w;sR:6390;"
            style="z-index:24;font-family:Roboto;"
          >
            <img
              src="revslider/assets/dummy.png"
              alt="images"
              width="445"
              height="445"
              data-lazyload="revslider/assets/logo_lan.png"
              data-no-retina
            >
          </rs-layer>
          <!--
                  -->
                  <!-- <a
id="slider-4-slide-6-layer-5"
class="rs-layer button blue-btn rev-btn"
href="#"
target="_self"
rel="nofollow"
data-type="button"
data-xy="x:l,l,l,r;xo:241px,161px,196px,60px;y:m;yo:184px,96px,-90px,0;"
data-text="s:16,18,20,22;l:24;a:inherit;"
data-padding="t:15;r:30;b:15;l:30;"
data-border="bor:90px,90px,90px,90px;"
data-frame_0="y:-50;"
data-frame_1="st:1350;sp:500;sR:1350;"
data-frame_999="x:0;y:0;z:0;sX:1;sY:1;o:1;rX:0;rY:0;rZ:0;skX:0;skY:0;st:w;sp:1000;sR:7150;"
data-frame_hover="skX:0px;skY:0px;c:#fff;bgc:#437eeb;boc:#000;bor:90px,90px,90px,90px;bos:solid;oX:50;oY:50;sp:0;"
style="z-index:11;background-color:#313e5b;font-family:Karla;cursor:pointer;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"
>Contact Us
        </a> -->
          <!--
                  -->
        </rs-slide>
      </rs-slides>
      <rs-static-layers>
        <!--
                -->
      </rs-static-layers>
      <rs-progress class="rs-bottom" style="visibility: hidden !important;" />
    </rs-module>
  </rs-module-wrap>
</template>
<script>
export default {
  data:{
    slides: [
      "1",
      "2",
      "3"
    ],
    timer: 0,
    current: 0
  },
}
</script>
