<template>
  <section class="pt-0">
    <div class="container">
      <div class="row iq-how-it-works">
        <div class="col-sm-12 wow fadeInUp">
          <!-- <div class="title-box wow fadeInUp text-center">
            <span class="title-design">Tentang Kami</span>
            <h2>IKA - PIMNAS</h2>
          </div> -->
          <div class="custom-tab">
            <ul id="pills-tab" class="nav nav-pills mb-5 text-center" role="tablist">
              <li v-for="(tab,index) in tabs" :key="index" class="nav-item">
                <a
                  class="nav-link"
                  :class="tab.active ? ' active ' : ''"
                  data-toggle="pill"
                  :href="'#' + tab.href"
                  role="tab"
                  :aria-controls="tab.href"
                >
                  <!-- <img :src="tab.image" alt="tab-image" class="img-fluid" /> -->
                  <h5 class="tab-title">{{ tab.title }}</h5>
                </a>
              </li>
            </ul>
            <!-- Tab Pan -->
            <div class="show_content">
              <div id="tab-big-data" class="tab-pane fade active show">
                <div class="row pl-lg-5 pr-lg-5">
                  <div class="col-sm-6">
                    <div class="text-left no-margin">
                      <p>Berbagi informasi seputar pekerjaan, kegiatan sosial dan yang lainnya.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-machine-learning" class="tab-pane fade">
                <div class="row pl-lg-5 pr-lg-5">
                  <div class="col-sm-6">
                    <div class="text-left no-margin">
                      <p>Memperluas jejaring kerja, menambah pertemanan dan menjalin koneksi dan kolaborasi.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-analytical-ai" class="tab-pane fade">
                <div class="row pl-lg-5 pr-lg-5">
                  <div class="col-sm-12">
                    <div class="text-left mb-3">
                      <p>Pengembangan karir dan profesionalitas melalui peningkatan pengetahun dan berbagi pengalaman.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'Services',
  data () {
    return {
      tabs: [
        {
          href: 'tab-big-data',
          title: 'Share My Activity',
          active: true,
          // image: require('../../assets/images/services/03.png')
        },
        {
          href: 'tab-machine-learning',
          title: 'Networking',
          active: false,
          // image: require('../../assets/images/services/02.png')
        },
        {
          href: 'tab-analytical-ai',
          title: 'Profesional Development',
          active: false,
          // image: require('../../assets/images/services/01.png')
        }
      ]
    }
  }
}
</script>
