<template>
  <div>
    <Loader />
    <HeaderStyle2 :nav-item-list="navItems" class-name="style-one" :styled-logo="styleLogo"/>
    <nuxt />
    <ScrollTop />
  </div>
</template>
<script>
import { menu, ikapimnas, pages, landing1About, ourCases , blog, alumniTerbaik, proyekPerubahan, pengumuman } from '../config/constant.js'
import logoImg from '../assets/images/logoikapimnas.png'
export default {
  name: 'Pages',
  data () {
    return {
      styleLogo: false,
      logo: logoImg,
      navItems: [
        { href: '/landing-page-1',
          title: 'Beranda',
          active: true,
          child: menu 
        },
        { href: '/alumniTerbaik', title: 'Alumni Terbaik', child: alumniTerbaik },
        { href: '/ikapimnas', title: 'IKAPIMNAS', children: true, child: ikapimnas },  
        { href: '/pengumuman', title: 'Pengumuman', child: pengumuman },
        { href: '/proyekPerubahan', title: 'Proyek Perubahan', child: proyekPerubahan },
      ]
    }
  },
  mounted () {
  }
}
</script>
<style>
  @import url('../assets/css/style.css');
  @import url('../assets/css/responsive.css');
</style>
