<template>
  <section>
    <div class="container">
      <div class="row">
        <div v-for="(item,index) in dataFinal" :key="index"  class="col-md-4 wow fadeInUp">
          <div class="iq-blog-box wow fadeInUp">
            <div class="iq-blog-image">
              <img width="1260" height="954" :src="'data:image/jpeg;base64,'+item.gbr" alt="img" />
              <!-- <ul class="iq-blogtag">
                <li> <a href="#">{{ item.tag }}</a> </li>
              </ul> -->
            </div>
            <div class="iq-blog-detail">
              <div class="iq-blog-meta">
                <ul class="list-inline">
                  <li class="list-inline-item"> <span class="screen-reader-text">Tanggal Perlaksanaan</span> <a :href="item.href" rel="bookmark"> <time datetime="2019-09-26" class="entry-date published updated">{{ item.tglpelaksanaan }} </time> </a> </li>
                </ul>
              </div>
              <!-- <div class="blog-title">
                <h4 class="entry-title"> <a :href="item.href"> {{ item.title }} </a> </h4>
              </div> -->
              <div class="blog-content">
                <p>{{ item.deskripsi.substring(0,150) }}</p>
              </div>
              <!-- <div class="blog-button"> <a class="button-link" :href="item.href"> Read More <i class="fa fa-angle-right" aria-hidden="true"></i> </a> </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 wow fadeInUp">
          <div class="pagination justify-content-center">
            <nav aria-label="Page navigation">
              <ul class='page-numbers'>
                <li> <span aria-current='page' class='page-numbers current'>1</span> </li>
                <li> <a class='page-numbers' href='#'>2</a> </li>
                <li> <a class="next page-numbers" href="#"> <span aria-hidden="true">Next page</span> </a> </li>
              </ul>
            </nav>
          </div>
        </div>
      </div> -->
    </div>
  </section>
</template>
<script>
export default {
  name: 'BlogList',
  data () {
    return {
      dataTampung:[],
      dataFinal:[],
      tampungGambar:[],
      items : [
        {
          tag: 'CSS',
          title: 'Construction industry',
          date: 'September 26, 2019',
          href: '#',
          content: 'They bring to you a host of beautifully created infographics that contain the latest digital marketing.',
          src: require('../../assets/images/about-us/01.png')
        },
        {
          tag: 'HTML',
          title: 'Build Construction',
          date: 'September 26, 2019',
          href: '#',
          content: 'They bring to you a host of beautifully created infographics that contain the latest digital marketing.',
          src: require('../../assets/images/about-us/02.png')
        },
        {
          tag: 'Design',
          title: 'Life Lack Meaning',
          date: 'September 26, 2019',
          href: '#',
          content: 'They bring to you a host of beautifully created infographics that contain the latest digital marketing.',
          src: require('../../assets/images/about-us/03.png')
        },
        {
          tag: 'CSS',
          title: 'Construction industry',
          date: 'September 26, 2019',
          href: '#',
          content: 'They bring to you a host of beautifully created infographics that contain the latest digital marketing.',
          src: require('../../assets/images/about-us/01.png')
        },
        {
          tag: 'HTML',
          title: 'Build Construction',
          date: 'September 26, 2019',
          href: '#',
          content: 'They bring to you a host of beautifully created infographics that contain the latest digital marketing.',
          src: require('../../assets/images/about-us/02.png')
        },
        {
          tag: 'Design',
          title: 'Life Lack Meaning',
          date: 'September 26, 2019',
          href: '#',
          content: 'They bring to you a host of beautifully created infographics that contain the latest digital marketing.',
          src: require('../../assets/images/about-us/03.png')
        }
      ]
    }
  },
  created(){
    this.Pengumuman();
  },
  methods:{
    async Pengumuman(){
      var dateFormat = require('dateformat');
      
      this.dataTampung = await this.$store.dispatch("getPengumuman")
      console.log(this.dataTampung.data);
      for(var i=0;i<this.dataTampung.data.length;i++){
        if(this.dataTampung.data[i].gambar != null){
          this.tampungGambar = await this.$store.dispatch("getGambar", this.dataTampung.data[i].gambar);
          // console.log(this.tampungGambar);
          var now = this.dataTampung.data[i].tglpelaksanaan;
          var tgl = dateFormat(now, "dddd, mmmm dS, yyyy, h:MM:ss TT");
          console.log(tgl);
          this.dataFinal.push({id:this.dataTampung.data[i].id, gbr:this.tampungGambar, created:this.dataTampung.data[i].created, creator: this.dataTampung.data[i].creator, deskripsi:this.dataTampung.data[i].deskripsi,judul:this.dataTampung.data[i].judul,tglpelaksanaan:tgl,updateOn:this.dataTampung.data[i].updateOn})
          console.log(this.dataFinal);        
        }
      }
    }
  }
}
</script>